<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container text-center">
        <h3 style="padding-top:5vh;">Edit Profile<a class="btn rounded-pill" style="background-color:#e8fcec;color:#17d475;"  href="/profile">Back</a></h3>
        
        <form action="/editProfile" method="POST">
            <div style="width:35vh;padding-top:2vh;" class="mx-auto">
                <input type="hidden" name="playerid" value="<%= user.playerID %>">

                <label class="form-label"> Username </label>
                <input type="text" class="form-control" name="username" value="<%= user.username %>"  maxlength="100" pattern="^[^\s]+(\s+[^\s]+)*$" title="No whitespace at beginning or end" required><br>

                <label class="form-label"> Name </label>
                <input type="text" class="form-control" name="playername" value="<%= user.playername %>" maxlength="100" pattern="^[^\s]+(\s+[^\s]+)*$" title="No whitespace at beginning or end" required><br>

                <label class="form-label" for="classyear">Class of</label>
                <% if(user.classyear !== 0) { %>
                    <select class="form-select" name="classyear" id="classyear" onload="" required>
                        <option value=""></option>
                        <option value="2023" id="2023">2023</option>
                        <option value="2024" id="2024">2024</option>
                        <option value="2025" id="2025">2025</option>
                        <option value="2026" id="2026">2026</option>
                        <option value="Other/NA">Other/NA</option>
                    </select><br>                
                <% } else { %>
                    <select class="form-select" name="classyear" id="classyear" onload="">
                        <option value="0" id="0" selected disabled>Other/NA</option>
                        <option value="2023" id="2023">2023</option>
                        <option value="2024" id="2024">2024</option>
                        <option value="2025" id="2025">2025</option>
                        <option value="2026" id="2026">2026</option>
                        <option value="Other/NA">Other/NA</option>
                    </select><br>                   
                <% } %>

                <label class="form-label" for="classyear">Gender</label>
                <select class="form-select" name="gender" id="gender" onload="" required>
                    <option value=""></option>
                    <option value="Male" id="Male">Male</option>
                    <option value="Female" id="Female">Female</option>
                    <option value="Other/Prefer not to say" id="Other/Prefer not to say">Other/Prefer not to say</option>
                </select><br>           

                <label class="form-label"> Profile Photo Link</label>
                <input type="url" class="form-control" name="profilephotolink" value="<%= user.profilephoto %>"><br>

                <label class="form-label"> Email </label>
                <% if(user.email) { %>
                    <input type="email" class="form-control" name="email" value="<%= user.email %>"><br>
                <% } else { %>
                    <input type="email" class="form-control" name="email" value=""><br>
                <% } %>

                <label class="form-label"> Phone Number </label>
                <% if(user.phone) { %>
                    <input type="text" class="form-control" name="phone" value="<%= user.phone %>" pattern="^[0-9]{10}$" title="Must have format 1234567890"><br>
                <% } else { %>
                    <input type="text" class="form-control" name="phone" value="" pattern="^[0-9]{10}$" title="Must have format 1234567890"><br>
                <% } %>

                <input style="background-color:#e8fcec;color:#17d475;" class="btn rounded-pill" type="submit" value="Save changes">
            </div>
        </form>
        
        <div style="padding-bottom:10vh;padding-top:2vh;">
            <a class="btn rounded-pill" style="background-color:#ffe5ec;color:#fb6f92;" href="/changePassword">Change password</a>
        </div>

        <script type="text/javascript">
            var selectYear = document.getElementById("classyear");
            for (var i = 0; i < selectYear.options.length; i++) {
                var option = selectYear.options[i];
                if (option.value === "<%= user.classyear %>") {
                    console.log("working?");
                    option.setAttribute("selected", true);
                }
            }

            var selectGender = document.getElementById("gender");
            for (var i = 0; i < selectGender.options.length; i++) {
                var option = selectGender.options[i];
                if (option.value === "<%= user.gender %>") {
                    console.log("working?");
                    option.setAttribute("selected", true);
                }
            }
        </script>
    </div>
</main>

<%- include ('../partials/footer') %>