<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<div style="padding-top:10vh;padding-bottom:10vh;">
  <div class="card text-white bg-dark mb-3 text-center mx-auto d-flex" style="width:25%;">
    <div class="card-body">
      <h1 style="padding-top:2vh;">Game Details</h1>
      <h3 style="color:#1e90ff;"><%= teaminfo[0].teamname %><span style="color:#ffffff;"> vs </span><%= teaminfo[1].teamname %></h3>
      <h5>Sport: <span style="color:#1e90ff;"><%= sportname[0].sportname %></span></h5>
      <h5>Game ID: <span style="color:#1e90ff;"><%= game[0].gameid %></span></h5> 
      <h5>Date (mm-dd-yyyy): <span style="color:#1e90ff;"> <%= game[0].gamedate.getMonth()+1 %>-<%= game[0].gamedate.getDate() %>-<%= game[0].gamedate.getFullYear() %></span></h5> 
      <h5>Time (hh:mm): <span style="color:#1e90ff;"><%= game[0].time.substring(0,5) %></span></h5> 
      <h5>Location: <span style="color:#1e90ff;"><%= game[0].location %></span></h5> 
      <h3 >Winner: <span style="color:#1e90ff;"><%= teaminfo[0].teamname %></span></h3>
    </div>
  </div>
</div>

<%- include ('../partials/footer') %>