<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container text-center">
        <%- include ('../partials/message') %>

        <h3 style="padding-top:5vh">Your Profile<a class="btn rounded-pill" style="background-color:#e8fcec; color:#17d475;"  href="/editProfile">Edit</a></h3>
        
        <% if(user.profilephoto !== '') { %>
            <img src="<%= user.profilephoto %>" style="width:100px;height:100px;border-radius:50%;">
        <% } else { %>
            <img src="./img/defaultIcon.png" style="width:100px;height:100px;border-radius:50%;">
        <% } %>

        <div style="padding-top:2vh;">
            <div class="btn rounded-pill bg-light disabled border-0" style="font-size:2vh;">Member since <%= new Date(user.joindate).getMonth() + 1 %>-<%= new Date(user.joindate).getDate() %>-<%= new Date(user.joindate).getFullYear() %></div>
        </div><br>

        <form action="/profile" method="POST">
            <div style="width:35vh" class="mx-auto">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" value="<%= user.username %>" disabled><br>

                <label class="form-label">Name</label>
                <input type="text" class="form-control" value="<%= user.playername %>" disabled><br>

                <label class="form-label">Class year</label>
                <% if(user.classyear !== 0) { %>
                    <input type="text" class="form-control" value="<%= user.classyear %>" disabled><br>
                <% } else { %>
                    <input type="text" class="form-control" value="Other/NA" disabled><br>
                <% } %>

                <label class="form-label">Gender</label>
                <input type="text" class="form-control" value="<%= user.gender %>" disabled><br>

                <label class="form-label">Email</label>
                <% if(user.email) { %>
                    <input type="text" class="form-control" value="<%= user.email %>" disabled><br>
                <% } else { %>
                    <input type="text" class="form-control" placeholder="none" value="" disabled><br>
                <% } %>

                <label class="form-label">Phone Number</label>
                <% if(user.phone) { %>
                    <input type="text" class="form-control" value="<%= user.phone.substr(0,3) %>-<%= user.phone.substr(3,3) %>-<%= user.phone.substr(6,9) %>" disabled><br>
                <% } else { %>
                    <input type="text" class="form-control" placeholder="none" value="" disabled><br>
                <% } %>
            </div>
        </form>

        <div style="padding-bottom:10vh;">
            <a class="btn rounded-pill" style="background-color:#ffe5ec;color:#fb6f92;" href="/changePassword">Change password</a>
        </div>
    </div>

    <div>
        <div style="padding-top:2vh;text-align:center;padding-bottom:2vh;">
            <button class="btn rounded-pill" style="background-color:#d8d8d8;color:#595959;;font-size:.75vw;" data-bs-toggle="modal" data-bs-target="#helpModal"><strong>?</strong></button>
        </div>

        <div class="modal fade" id="helpModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" >
                <div class="modal-content">
                    <div class="modal-body text-center" >
                        <h3>Contact Us</h3>
                        <p>If you have any issues or need help, contact us <a href="mailto:help@improved.com">here.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>