<%- include ('../partials/header') %>

<main>
  <div class="container text-center" >
    <h1 style="padding-top:10vh;">Reset Your Password</h1>
    <%- include ('../partials/message') %>
    <p>Not seeing the email? Check your spam folder or<a href="/forgotPassword"> request </a>a new code.</p>

    <div class=" mx-auto" style="width:24.5vw;padding-top:2vh;padding-bottom:31vh;">
      <form action="/resetPassword" method="POST">
        <div class="input-group mb-3">
          <input type="hidden" class="form-control" name="resetCode" id="resetCode" value="<%= resetCode %>">
        </div>

        <div class="input-group mb-3">
          <input type="hidden" class="form-control" name="email" id="email"  value="<%= email %>">
        </div>

        <div class="input-group mb-3">
          <input type="text" class="form-control" name="inputCode" id="inputCode" placeholder="Code" required>
        </div>

        <div class="input-group mb-3">
          <input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="New password" maxlength="100"  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{6,}" title="Minimum 6 characters plus one of each: uppercase, lowercase, number, special character" required>
        </div>

        <div class="input-group mb-3">
          <input type="password" class="form-control" name="confirmNewPassword" id="confirmNewPassword" placeholder="Confirm new password" maxlength="100"  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{6,}" required>
        </div>

        <button type="submit" class="btn rounded-pill" style="background-color:#e8fcec;color:#17d475;">Reset Password</button>
      </form>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>